In [2]:
import pandas as pd
from io import StringIO

In [4]:
y_start = 1980
y_end = 2023

folder = 'earthquake_catalog/'
ext = '.catalog'
for y in range(y_start, y_end+1):
    #print(y)
    file = folder + str(y) + ext
    with open(file, 'r') as f:
        lines = f.readlines()
    lines = lines[9:]
    text = '\n'.join(lines)
    text = text.replace('  ',' ')
    text = text.replace('  ',' ')
    text = text.replace('  ',' ')
    if y == y_start:
        df = pd.read_csv(StringIO(text),delimiter=' ')
    else:
        df = df.append(pd.read_csv(StringIO(text),delimiter=' '))      
df.head(-10)

,#YYY/MM/DD,HH:mm:SS.ss,ET,GT,MAG,M,LAT,LON,DEPTH,Q,EVID,NPH,NGRM
0,1980/01/01,00:05:01.21,eq,l,1.80,h,33.723,-118.854,6.0,C,12277543.0,12.0,164.0
1,1980/01/01,00:05:54.16,eq,l,2.40,h,33.727,-118.811,0.2,A,3301488.0,27.0,164.0
2,1980/01/01,01:53:06.21,eq,l,1.60,h,33.093,-116.077,6.0,C,3301492.0,22.0,164.0
3,1980/01/01,02:09:20.62,eq,r,3.10,h,36.522,-121.143,6.0,D,3325141.0,8.0,97.0
4,1980/01/01,02:29:13.71,eq,l,1.80,h,36.455,-117.934,6.4,D,3301493.0,7.0,164.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3563,2023/04/14,20:45:54.98,qb,l,1.47,l,32.761,-116.898,4.9,A,40440888.0,20.0,2041.0
3564,2023/04/14,20:49:33.38,eq,l,0.44,l,33.580,-116.808,7.8,A,40440896.0,24.0,737.0
3565,2023/04/14,21:28:48.55,eq,l,0.97,l,33.516,-117.098,8.5,A,40440904.0,46.0,1852.0
3566,2023/04/14,21:43:02.86,eq,l,0.47,l,33.691,-116.819,13.2,A,40440912.0,21.0,877.0
3567,2023/04/14,22:06:11.75,eq,l,1.87,l,34.159,-117.931,7.8,C,40440920.0,9.0,2382.0

In [5]:
df.to_csv('earthquake_catalog_1980_2023.csv')